html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.TaskMenu{
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
}

.BtnTask{
    width: 49%;
    height: 100px;
    background-color: black;
    border: 0px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 40px white, 0px 0px 60px white, 0px 0px 80px white;
    transition: 0.5s;
}

.BtnTask:hover{
    background-color: white;
    color: black;
    text-shadow: 0px 0px 10px black, 0px 0px 20px black, 0px 0px 40px black, 0px 0px 60px black, 0px 0px 80px black;
    transition: 0.5s;
}

.BtnTask:active{
    color: white;
}

#MainVideo{
    display: none;
}

#MainImage{
    display: block;
}

.textTag{
    color: gray;
    font-family: cursive;
    font-size: 20px;
}

.tag-image{
    text-align: center;
}

.ImagePage{
    width: 100%;
}

.SelectorPage{
    text-align: center;
    user-select: none;
}
.SelectorPageTxt{
    font-family: cursive;
}

#Page1{
    display: block;
}

#Page2{
    display: none;
}

#Page3{
    display: none;
    text-align: center;
}

#Page4{
    display: none;
    text-align: center;
}

#Page5{
    display: none;
    text-align: center;
}

#Page6{
    display: none;
    text-align: center;
}

#Page7{
    display: none;
}

#PageV2{
    display: none;
}

#PageV3{
    display: none;
}

#PageV4{
    display: none;
}

.Img{
    width: 50%;
    user-select: none;
}

.Video{
    width: 25%;
    user-select: none;
}

#Code-nav{
    display: none;
}

.Btn-help-pav{
    border: 0px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0px 0px 10px black, 0px 0px 20px black;
    text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 40px white;
}
.Btn-help-pav:hover{
    background-color: rgb(185, 185, 185);
    color: black;
    box-shadow: 0px 0px 10px rgb(185, 185, 185), 0px 0px 20px rgb(185, 185, 185);
    text-shadow: 0px 0px 10px black, 0px 0px 20px black, 0px 0px 40px black;
}
.Btn-help-pav:active{
    color: white;
}

.Help-pav{
    display: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#ReceiveV{
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    text-align: center;
    width: 100%;
    animation-name: show;
    user-select: none;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.m{
    border: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    animation-name: hide;
    animation-delay: 10s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

#notifyM{
    border-radius: 10px;
    top: auto;
    right: 0px;
    display: block;
    position: fixed;
    background-color: white;
    width: 400px;
    height: auto;
    animation-name: Notishow;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes Notishow{
    0% {right: -1000px;}
    100% {right: 0px;}
}

.Titles{
    text-align: center;
    user-select: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textNoti{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

@keyframes hide{
    0% {background-color: rgba(0, 0, 0, 0.438); color: white;}
    100% {background-color: rgba(0, 0, 0, 0); color: rgba(255, 255, 255, 0);}
}

@keyframes show{
    0% {top: -40px;}
    100% {top: 5px;}
}
